# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.envrc

# macOS system files
.DS_Store

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Coverage reports
htmlcov/
.coverage

# Logs
*.log

# Temporary files
*.tmp